# Created by Vercel CLI
ALLOWED_S3_DOMAIN=""
ANTHROPIC_API_KEY=""
API_ANON_LIMIT_PER_HOUR="120"
API_AUTH_ENFORCE="1"
AUTHOR_THESAURUS_READPATH="1"
AUTH_SECRET=""
AUTH_TRUST_HOST="true"
AUTH_URL="https://sourcelibrary.org"
AWS_ACCESS_KEY_ID=""
AWS_REGION=""
AWS_SECRET_ACCESS_KEY=""
BASE_URL="https://sourcelibrary.org"
BLOB_READ_WRITE_TOKEN=""
CF_API_TOKEN=""
CF_ZONE_ID=""
CLIP_URL=""
CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_ZONE_ID=""
CRON_SECRET=""
ELEVENLABS_AGENT_ID=""
ELEVENLABS_API_KEY=""
EMBED_ALLOWED_ORIGINS=""
EMBED_URL=""
EUROPEANA_API_KEY=""
GEMINI_API_KEY=""
GEMINI_API_KEY_2=""
GEMINI_API_KEY_3=""
GEMINI_API_KEY_TIER3=""
GEMINI_MODEL="gemini-3-flash-preview"
GITHUB_TOKEN=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
MISTRAL_API_KEY=""
MONGODB_DB="bookstore"
MONGODB_URI=""
NX_DAEMON="false"
PLATFORM_ADMIN_EMAILS=""
PROVENANCE_SECRET_KEY=""
R2_ACCESS_KEY_ID=""
R2_ACCOUNT_ID=""
R2_BUCKET_NAME="sourcelibrary"
R2_PUBLIC_URL="https://images.sourcelibrary.org\n"
R2_SECRET_ACCESS_KEY=""
REPLICATE_API_TOKEN=""
RESEND_API_KEY=""
SPLIT_DETECTION_METHOD_ON_UPLOAD="gemini"
SQS_PAGE_IMAGE_EXTRACTION_QUEUE_URL=""
SQS_PAGE_OCR_QUEUE_URL=""
SQS_PAGE_TRANSLATION_QUEUE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_URL=""
TURBO_CACHE="remote:rw"
TURBO_DOWNLOAD_LOCAL_ENABLED="true"
TURBO_REMOTE_ONLY="true"
TURBO_RUN_SUMMARY="true"
TWITTER_ACCESS_SECRET=
TWITTER_ACCESS_TOKEN=""
TWITTER_API_KEY=""
TWITTER_API_SECRET=""
UPTIMEROBOT_API_KEY=""
VERCEL="1"
VERCEL_API_TOKEN=""
VERCEL_ENV="production"
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PULL_REQUEST_ID=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_OIDC_TOKEN=""
VERCEL_QUEUE_DEBUG="true"
VERCEL_TARGET_ENV="production"
VERCEL_URL=""
ZENODO_ACCESS_TOKEN=""
