{
  "openapi": "3.1.0",
  "info": {
    "title": "Source Library API",
    "description": "Search and cite rare historical texts (alchemy, Hermeticism, Renaissance philosophy) from Source Library. All translations include DOI-backed academic citations.",
    "version": "1.1.0",
    "contact": {
      "name": "Source Library",
      "url": "https://sourcelibrary.org",
      "email": "team@sourcelibrary.org"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://sourcelibrary.org/api",
      "description": "Production"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchLibrary",
        "summary": "Search the library",
        "description": "Search across all books, translations, and page content. Returns matching books and pages with snippets.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query (min 2 characters). Searches titles, authors, and translation content.",
            "schema": {
              "type": "string",
              "minLength": 2
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Filter by original language",
            "schema": {
              "type": "string",
              "enum": [
                "Latin",
                "German",
                "French",
                "Italian",
                "English",
                "Dutch",
                "Spanish"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category",
            "schema": {
              "type": "string",
              "enum": [
                "alchemy",
                "hermeticism",
                "jewish-kabbalah",
                "christian-cabala",
                "neoplatonism",
                "rosicrucianism",
                "natural-philosophy",
                "astrology",
                "natural-magic",
                "ritual-magic",
                "theurgy",
                "mysticism",
                "theology",
                "medicine",
                "gnosticism"
              ]
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Publication year start (e.g., 1500)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Publication year end (e.g., 1700)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_doi",
            "in": "query",
            "description": "Only return books with DOIs",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_translation",
            "in": "query",
            "description": "Only return books with translations",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results (default 20, max 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query"
          }
        }
      }
    },
    "/books": {
      "get": {
        "operationId": "listBooks",
        "summary": "List all books",
        "description": "Get all books in the library with metadata.",
        "responses": {
          "200": {
            "description": "List of books",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Book"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/books/{id}": {
      "get": {
        "operationId": "getBook",
        "summary": "Get book details",
        "description": "Get detailed information about a specific book including summary, edition info, and DOI.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Book ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Book details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookDetail"
                }
              }
            }
          },
          "404": {
            "description": "Book not found"
          }
        }
      }
    },
    "/books/{id}/quote": {
      "get": {
        "operationId": "getQuote",
        "summary": "Get a quote with citation",
        "description": "Get a passage from a specific page with formatted academic citations (inline, footnote, BibTeX, Chicago, MLA) and DOI.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Book ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "Page number",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "include_original",
            "in": "query",
            "description": "Include original language text (default true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_context",
            "in": "query",
            "description": "Include adjacent pages for context",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote with citation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Book or page not found, or no translation available"
          }
        }
      }
    },
    "/books/{id}/text": {
      "get": {
        "summary": "Read a book's text (OCR and/or translation), page-budgeted",
        "description": "Serves up to your remaining daily page budget (anonymous 500/24h, signed-in 1,000, free key 2,000, paid uncapped). Response header X-Pages-Served reports pages charged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Book id or slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "First page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Last page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chapter",
            "in": "query",
            "description": "Chapter index to read",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content",
            "in": "query",
            "description": "ocr | translation | both",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "429": {
            "description": "Daily page budget exhausted"
          }
        }
      }
    },
    "/locus": {
      "get": {
        "summary": "Resolve a canonical reference (e.g. Bekker/Stephanus) to witnesses and pages",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "description": "Canonical reference, e.g. 1094a",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "work",
            "in": "query",
            "description": "Work identifier",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/ngrams": {
      "get": {
        "summary": "N-gram frequency series over the corpus",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Rate-limited per IP (60/min).",
        "parameters": [
          {
            "name": "phrase",
            "in": "query",
            "description": "Phrase (1-5 words)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corpus",
            "in": "query",
            "description": "Corpus key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/image": {
      "get": {
        "summary": "Resize/serve an allowlisted page-scan image",
        "description": "Browser image loads pass free. Non-browser callers: anonymous 500 images/day per IP; API keys per tier (free 2,000/day, paid uncapped) via Authorization: Bearer sl_data_...",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "Allowlisted source image URL",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "w",
            "in": "query",
            "description": "Max width px",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "JPEG quality",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JPEG image"
          },
          "403": {
            "description": "Host not allowlisted"
          },
          "429": {
            "description": "Image budget exhausted - get a key at /developers"
          }
        }
      }
    },
    "/dataset/v1/books": {
      "get": {
        "summary": "Dataset: book-level metadata (JSON)",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Requires an API key. Cluster/language permissions enforced per key.",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Filter by language",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cluster",
            "in": "query",
            "description": "Taxonomy cluster",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max 1000",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/dataset/v1/pages": {
      "get": {
        "summary": "Dataset: streaming page records (JSONL)",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Requires an API key; counts against the key daily page quota.",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Filter by language",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cluster",
            "in": "query",
            "description": "Taxonomy cluster",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content",
            "in": "query",
            "description": "ocr | translation | both",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max 10000",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/dataset/v1/stats": {
      "get": {
        "summary": "Dataset: public corpus statistics",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Public; rate-limited 30/min per IP."
      }
    },
    "/dataset/v1/usage": {
      "get": {
        "summary": "Your own usage meter (per key or per account)",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Authenticate with your API key or a session.",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Window, max 90",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/dts": {
      "get": {
        "summary": "DTS API entry point (Distributed Text Services)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/dts/collection": {
      "get": {
        "summary": "DTS collections",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Collection or resource id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/dts/navigation": {
      "get": {
        "summary": "DTS navigation (page structure)",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/dts/document": {
      "get": {
        "summary": "DTS document (TEI text)",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Bot-gated: untrusted crawlers see the first 20% of a book.",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "description": "Resource id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/iiif/{id}/manifest": {
      "get": {
        "summary": "IIIF Presentation manifest for a book",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Book id or slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IIIF manifest JSON"
          }
        }
      }
    },
    "/iiif/{id}/search": {
      "get": {
        "summary": "IIIF Content Search within a book",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Book id or slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IIIF search response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "book",
              "page"
            ]
          },
          "book_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "display_title": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "published": {
            "type": "string"
          },
          "page_count": {
            "type": "integer"
          },
          "translated_count": {
            "type": "integer"
          },
          "has_doi": {
            "type": "boolean"
          },
          "doi": {
            "type": "string"
          },
          "page_number": {
            "type": "integer",
            "description": "For page results only"
          },
          "snippet": {
            "type": "string",
            "description": "Text excerpt matching the query"
          }
        }
      },
      "Book": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "display_title": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "published": {
            "type": "string"
          },
          "publisher": {
            "type": "string"
          },
          "place_published": {
            "type": "string"
          },
          "pages_count": {
            "type": "integer"
          },
          "pages_translated": {
            "type": "integer"
          },
          "doi": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BookDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "display_title": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "published": {
            "type": "string"
          },
          "publisher": {
            "type": "string"
          },
          "place_published": {
            "type": "string"
          },
          "pages_count": {
            "type": "integer"
          },
          "pages_translated": {
            "type": "integer"
          },
          "doi": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "type": "string"
          },
          "editions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Edition"
            }
          }
        }
      },
      "Edition": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published"
            ]
          },
          "doi": {
            "type": "string"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "license": {
            "type": "string"
          }
        }
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "quote": {
            "type": "object",
            "properties": {
              "translation": {
                "type": "string",
                "description": "English translation of the passage"
              },
              "original": {
                "type": "string",
                "description": "Original language text (Latin, German, etc.)"
              },
              "romanized": {
                "type": "string",
                "description": "Romanization of the original, for non-Latin scripts (Greek, Hebrew, Arabic, Cyrillic, Sanskrit…). AI-generated reading apparatus, not a transcription — quote the source from original or translation. Present only where the page carries a romanization current with its OCR; omitted when include_original=false."
              },
              "page": {
                "type": "integer"
              },
              "book_id": {
                "type": "string"
              },
              "book_title": {
                "type": "string"
              },
              "display_title": {
                "type": "string"
              },
              "author": {
                "type": "string"
              },
              "published": {
                "type": "string"
              },
              "language": {
                "type": "string"
              }
            }
          },
          "citation": {
            "type": "object",
            "properties": {
              "inline": {
                "type": "string",
                "description": "Short inline citation, e.g., (Drebbel 1628, p. 15)"
              },
              "footnote": {
                "type": "string",
                "description": "Full footnote citation"
              },
              "bibliography": {
                "type": "string",
                "description": "Bibliography entry"
              },
              "bibtex": {
                "type": "string",
                "description": "BibTeX format citation"
              },
              "chicago": {
                "type": "string",
                "description": "Chicago style citation"
              },
              "mla": {
                "type": "string",
                "description": "MLA style citation"
              },
              "url": {
                "type": "string",
                "description": "Direct URL to the page"
              },
              "short_url": {
                "type": "string",
                "description": "Short URL for sharing"
              },
              "doi_url": {
                "type": "string",
                "description": "DOI URL if available"
              }
            }
          },
          "context": {
            "type": "object",
            "properties": {
              "previous_page": {
                "type": "string"
              },
              "next_page": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Dataset API key (sl_data_...). Free at https://sourcelibrary.org/developers."
      }
    }
  }
}